<%- include('../layouts/header.ejs') %> 
    <div class="nk-app-root">
      <div class="nk-main">
        <div
          class="nk-sidebar nk-sidebar-fixed is-light"
          data-content="sidebarMenu"
        >
          <div class="nk-sidebar-element nk-sidebar-head">
            <div class="nk-sidebar-brand">
              <a href="/indexhome" class="logo-link nk-sidebar-logo"
                ><img
                  class="logo-light logo-img"
                  src="/public/images (1).jpg"
                  srcset="/demo2/images/logo2x.png 2x"
                  alt="logo" /><img
                  class="logo-dark logo-img"
                  src="/public/images (1).jpg"
                  srcset="/demo2/images/logo-dark2x.png 2x"
                  alt="logo-dark" /><img
                  class="logo-small logo-img logo-img-small"
                  src="/public/images (1).jpg"
                  srcset="/demo2/images/logo-small2x.png 2x"
                  alt="logo-small"
              /></a>
            </div>
            <div class="nk-menu-trigger me-n2">
              <a
                href="#"
                class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
                data-target="sidebarMenu"
                ><em class="icon ni ni-arrow-left"></em></a
              ><a
                href="#"
                class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
                data-target="sidebarMenu"
                ><em class="icon ni ni-menu"></em
              ></a>
            </div>
          </div>
          <div class="nk-sidebar-element">
            <div class="nk-sidebar-content">
              <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                  <li class="nk-menu-item">
                    <a href="/admin/indexhome" class="nk-menu-link"
                      ><span class="nk-menu-icon"
                        ><em class="icon ni ni-dashboard-fill"></em></span
                      ><span class="nk-menu-text">Dashboard</span></a
                    >
                  </li>
                  <li class="nk-menu-item">
                    <a href="/admin/orders.html" class="nk-menu-link"
                      ><span class="nk-menu-icon"
                        ><em class="icon ni ni-bag-fill"></em></span
                      ><span class="nk-menu-text">Orders</span></a
                    >
                  </li>
                  <li class="nk-menu-item">
                    <a href="products" class="nk-menu-link"
                      ><span class="nk-menu-icon"
                        ><em class="icon ni ni-package-fill"></em></span
                      ><span class="nk-menu-text">Products</span></a
                    >
                  </li>
                </li>
                <li class="nk-menu-item">
                  <a href="categories" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-package-fill"></em></span
                    ><span class="nk-menu-text">Categories</span></a
                  >
                </li>
                  <li class="nk-menu-item">
                    <a href="customers" class="nk-menu-link"
                      ><span class="nk-menu-icon"
                        >
                        <em class="icon ni ni-users-fill"></em></span
                      >
                      <span class="nk-menu-text">Customers</span></a
                    >
                  </li>
<<<<<<< HEAD
<<<<<<< HEAD
                  <li class="nk-menu-item">
                    <a href="coupon" class="nk-menu-link"
                      ><span class="nk-menu-icon"
                        ><em class="icon ni ni-opt-alt-fill"></em></span
                      ><span class="nk-menu-text">Coupons</span></a
                    >
                  </li>
                  <li class="nk-menu-item">
                    <a href="offer" class="nk-menu-link"
                      ><span class="nk-menu-icon"
                        ><em class="icon ni ni-opt-alt-fill"></em></span
                      ><span class="nk-menu-text">Offer</span></a
                    >
                  </li> 
=======
=======
>>>>>>> e774d6cdad3ce61f1e1f88d2f58021ebc44533e1
                 <li class="nk-menu-item">
                  <a href="coupon" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-opt-alt-fill"></em></span
                    ><span class="nk-menu-text">Coupons</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="offer" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-opt-alt-fill"></em></span
                    ><span class="nk-menu-text">Offer</span></a
                  >
                </li> 
<<<<<<< HEAD
>>>>>>> e774d6cdad3ce61f1e1f88d2f58021ebc44533e1
=======
>>>>>>> e774d6cdad3ce61f1e1f88d2f58021ebc44533e1
                  <li class="nk-menu-heading">
                    <h6 class="overline-title text-primary-alt">Return to</h6>
                  </li>
                  <li class="nk-menu-item">
                    <a href="/admin/indexhome" class="nk-menu-link"
                      ><span class="nk-menu-icon"
                        ><em class="icon ni ni-dashlite-alt"></em></span
                      ><span class="nk-menu-text">Main Dashboard</span></a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="nk-wrap">
          <div class="nk-header nk-header-fixed is-light">
            <div class="container-fluid">
              <div class="nk-header-wrap">
                <div class="nk-menu-trigger d-xl-none ms-n1">
                  <a
                    href="#"
                    class="nk-nav-toggle nk-quick-nav-icon"
                    data-target="sidebarMenu"
                    ><em class="icon ni ni-menu"></em
                  ></a>
                </div>
                <div class="nk-header-brand d-xl-none">
                  <a href="/indexhome" class="logo-link"
                    ><img
                      class="logo-light logo-img"
                      src="/public/images (1).jpg"
                      srcset="/demo2/images/logo2x.png 2x"
                      alt="logo" /><img
                      class="logo-dark logo-img"
                      src="/public/images (1).jpg"
                      srcset="/demo2/images/logo-dark2x.png 2x"
                      alt="logo-dark"
                  /></a>
                </div>  
                <div class="nk-header-tools">
                  <ul class="nk-quick-nav">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-content">
            <div class="container-fluid">
              <div class="nk-content-inner">
                <div class="nk-content-body">
                  <div class="nk-block-head nk-block-head-sm">
                    <div class="nk-block-between">
                      <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Products</h3>
                      </div>
                      <div class="nk-block-head-content">
                        <div class="toggle-wrap nk-block-tools-toggle">
                          <a
                            href="#"
                            class="btn btn-icon btn-trigger toggle-expand me-n1"
                            data-target="pageMenu"
                            ><em class="icon ni ni-more-v"></em
                          ></a>
                          <div
                            class="toggle-expand-content"
                            data-content="pageMenu"
                          >
                            <ul class="nk-block-tools g-3">
                              <li>
                                <div class="form-control-wrap">
                                  <div class="form-icon form-icon-right">
                                    
                                  </div>
                                   
                                  <form action="/admin/search-user" method="get">
                                     <input type="text" name="search" placeholder="Search users">
                                     <input type="submit" value="Search">
                                 </form>
                                </div>
                              </li>
                              <li>
                                <div class="drodown">
                                  <a
                                    href="#"
                                    class="dropdown-toggle dropdown-indicator btn btn-outline-light btn-white"
                                    data-bs-toggle="dropdown"
                                    >Status</a
                                  >
                                  <div class="dropdown-menu dropdown-menu-end">
                                    <ul class="link-list-opt no-bdr">
                                      <li>
                                        <a href="#"><span>New Items</span></a>
                                      </li>
                                      <li>
                                        <a href="#"><span>Featured</span></a>
                                      </li>
                                      <li>
                                        <a href="#"
                                          ><span>Out of Stock</span></a
                                        >
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </li>
                              <li class="nk-block-tools-opt">
                                <a
                                  href="#"
                                  data-target="addProduct"
                                  class="toggle btn btn-icon btn-primary d-md-none"
                                  ><em class="icon ni ni-plus"></em></a
                                ><a href="#" data-bs-toggle="modal" data-bs-target="#addCategoryModal" class="toggle btn btn-primary d-none d-md-inline-flex">
                                  <em class="icon ni ni-plus"></em>
                                  <span>Add Category</span>
                              </a>

                              <div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addProductModalLabel">Add Category</h5>
                                            <button type="button" class="btn-close" id="closeModalButton" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          
                                          <form action="/admin/categories/add-category" method="post" enctype="multipart/form-data" class="form1-addc needs-validation" novalidate>
                                            <div id="category-image-preview-container" class="cat-preview"></div>
                                            <div class="mb-3">
                                                <input type="file" id="category-file-upload" class="form-control1-addc form-control" name="image" required>
                                                <div class="invalid-feedback">
                                                    Please upload an image.
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                              <input type="text" class="form-control2-addc form-control <%-
                                                  (typeof errorWith != 'undefined' && errorWith === 'CATEGORY') ? 'is-invalid' : '' %>" 
                                                  name="name" placeholder="Enter the new Category" required>
                                              <div class="invalid-feedback">
                                                  <%- (typeof errorWith != 'undefined') ? message : "Category name is required." %> 
                                              </div>
                                              <div id="categoryExistsError" class="invalid-feedback" style="display: none;">
                                                Category with this name already exists.
                                              </div>
                                          </div>
                                            <div class="mb-3">
                                                <input type="submit" class="form-control4-addc" value="Add Category" style="width: 480px; position: relative; margin-top: 15px; border-radius: 10px; color: white; height: 40px; font-weight: 500; background-color: rgb(22, 127, 197); border-style: hidden;">
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                        <div class="nk-block">
                          <div class="nk-tb-list is-separate mb-3">
                            <div class="nk-tb-item nk-tb-head">
                              <div class="nk-tb-col nk-tb-col-check">
                              </div>
                                <div class="nk-tb-col tb-col-sm"><span>Icon</span></div>
                              <div class="nk-tb-col tb-col-sm"><span>Name</span></div>
                              <div class="nk-tb-col tb-col-sm"><span></span></div>
                            </div>
                            <% categories.forEach(category => { %>
                               
                              <div class="nk-tb-item">
                                  <div class="nk-tb-col" > 
                                  <span ><img src="<%=  category.image %>"  alt="" /></span>
                                
                                </div>
                               
                                <div class="nk-tb-col">  
                                </div>
                                <div class="nk-tb-col tb-col-sm">
                                  <span class="tb-product">
                                    <em class="your-icon-class"></em>
                                    <span class="title"><%= category.name %></span>
                                  </span>
                                </div>
                                <div class="nk-tb-col nk-tb-col-tools">
                                  <ul class="nk-tb-actions gx-1 my-n1">
                                    <li class="me-n1">
                                      <div class="nk-tb-col tb-col-sm">
                                        <form action="/admin/categories/unlist-category/<%= category._id %>" method="POST">
                                          <button type="submit" class="btn <%= category.listed ? 'btn-danger' : 'btn-success' %>">
                                            <%= category.listed ? 'list' : 'UnList' %>
                                          </button>
                                        </form>
                                        </div>
                                        <div class="nk-tb-col tb-col-sm">
                                          <a href="#" data-bs-toggle="modal" data-bs-target="#editCategoryModal<%=category._id%>" class="toggle btn btn-danger d-none d-md-inline-flex">
                                            <span>Edit Category</span>
                                        </a>
                                        </div>
                                        <div class="modal fade" id="editCategoryModal<%=category._id%>" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
                                          <div class="modal-dialog">
                                              <div class="modal-content">
                                                  <div class="modal-header">
                                                      <h5 class="modal-title" id="editCategoryModalLabel">Edit Category</h5>
                                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <form action="/admin/categories/edit-category/<%= category._id %>" id="editCategoryForm" class="form1-editc needs-validation" method="post" enctype="multipart/form-data" novalidate>
                                                      <% if (category.image) { %>
                                                      <img src="<%= category.image %>" alt="Existing Image" class="existing-image" style="width: 100px; height: 100px; position: relative; bottom: 10px;">
                                                      <% } %>
                                                  
                                                      <div class="mb-3">
                                                          <input type="text" class="form-control2-editc form-control" value="<%= category.image %>" disabled>
                                                      </div>
                                                  
                                                      <div class="mb-3">
                                                          <input type="file" class="form-control2-editc form-control" name="image" id="imageUpload" >
                                                          <div class="invalid-feedback">
                                                              Please upload an image.
                                                          </div>
                                                      </div>
                                                  
                                                      <div class="mb-3">
                                                          <select name="name" class="form-control2-editc form-control" required>
                                                              <option value="<%= category.name %>" selected><%= category.name %></option>
                                                              <% categories.filter(cat => cat.name !== category.name).forEach(cat => { %>
                                                              <option value="<%= cat.name %>"><%= cat.name %></option>
                                                              <% }); %>
                                                          </select>
                                                          <div class="invalid-feedback">
                                                              Please select a category name.
                                                          </div>
                                                      </div>
                                                  
                                                      <input type="hidden" name="id" value="<%= category._id %>">
                                                  
                                                      <div class="mb-3">
                                                          <input type="submit" class="form-control4-editc" value="Update Category" style="width: 400px; position: relative; right: 75px; margin-top: 15px; border-radius: 10px; color: white; height: 40px; font-weight: 500; background-color: rgb(22, 118, 197); border-style: hidden;">
                                                      </div>
                                                  </form>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                    </li>
                                  </ul>
                                </div>

                              </div>
                            <% }) %>
                      </div>
                    </div>
                  </div>
                </div>
               
                <%- include('../admin/layouts/footer.ejs')%>
           
      
          <script>
            // Fetch products and display them in the UI
        
            // Check for a success message in the URL
            const urlParams = new URLSearchParams(window.location.search);
            const successMessage = urlParams.get('success');
        
            // If a success message exists, display a popup
            if (successMessage) {
                // Display the success message as a popup or notification using your preferred frontend framework or method
                // For example, using an alert
                alert(successMessage);
            }
        </script>

        <script>
          document.querySelector(".form1-addc").addEventListener("submit", async function (event) {
  event.preventDefault();
  const form = event.target;
  const formData = new FormData(form);
  try {
    const response = await fetch("/admin/categories/add-category", {
      method: "POST",
      body: formData
    });
    if (response.ok) {   
      document.getElementById("closeModalButton").click();
    } else {
      const errorMessage = await response.text();
      if (errorMessage.includes("Category with this name already exists")) { 
        document.getElementById("categoryExistsError").style.display = "block";
      }
    }
  } catch (error) {
    console.error("Error:", error);
  }
});

        </script>
<script>
  async function fetchAndRenderCategories() {
    try {
      const response = await fetch('/categories'); 
      const categories = await response.json();
      <ul id="categoryList"></ul>
      const categoryList = document.getElementById('categoryList');
      categoryList.innerHTML = '';  
      categories.forEach(category => {
        const listItem = document.createElement('li');
        listItem.innerHTML = `
          <span>${category.name}</span>
          <button onclick="unlistCategory('${category._id}')">Unlist</button>
        `;
        categoryList.appendChild(listItem);
      });
    } catch (error) {
      console.error('Error fetching categories:', error.message);
    }
  }
  async function unlistCategory(categoryId) {
    try {
      const response = await fetch(`/admin/categories/${categoryId}/unlist`, {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/json'
        }
      }); 
      if (response.ok) {
        alert('Category unlisted successfully!');
        fetchAndRenderCategories(); 
      } else {
        throw new Error('Failed to unlist the category.');
      }
    } catch (error) {
      console.error('Error:', error.message);
      alert(error.message);
    }
  }
  window.onload = fetchAndRenderCategories;
</script>


<script>
  document.getElementById('category-file-upload').addEventListener('change', function () {
      const file = this.files[0];
      const categoryImagePreviewContainer = document.getElementById('category-image-preview-container');
      categoryImagePreviewContainer.innerHTML = '';  
  
      if (file) {
          const reader = new FileReader();
          reader.onload = function (e) {
              const imgElement = document.createElement('img');
              imgElement.setAttribute('src', e.target.result);
              imgElement.setAttribute('class', 'preview-category-image');
              imgElement.setAttribute('alt', 'Category Image Preview');
              categoryImagePreviewContainer.appendChild(imgElement);
          };
          reader.readAsDataURL(file);
      }
  });
  </script>
      <%- include('../layouts/footer.ejs') %>
