<%- include('../layouts/header.ejs') %>
<div class="nk-app-root">
    <div class="nk-main">
      <div
        class="nk-sidebar nk-sidebar-fixed is-light"
        data-content="sidebarMenu"
      >
        <div class="nk-sidebar-element nk-sidebar-head">
          <div class="nk-sidebar-brand">
            <a href="/admin/indexhome" class="logo-link nk-sidebar-logo"
            ><img
              class="logo-light logo-img"
              src="/public/images (1).jpg"
              srcset=""
              alt="logo" /><img
              class="logo-dark logo-img"
              src="/public/images (1).jpg"
              srcset="/demo2/images/logo-dark2x.png 2x"
              alt="logo-dark" /><img
              class="logo-small logo-img logo-img-small"
              src="/public/images (1).jpg"
              srcset="/demo2/images/logo-small2x.png 2x"
              alt="logo-small"
          /></a>
          </div>
          <div class="nk-menu-trigger me-n2">
            <a
              href="#"
              class="nk-nav-toggle nk-quick-nav-icon d-xl-none"
              data-target="sidebarMenu"
              ><em class="icon ni ni-arrow-left"></em></a
            ><a
              href="#"
              class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex"
              data-target="sidebarMenu"
              ><em class="icon ni ni-menu"></em
            ></a>
          </div>
        </div>
        <div class="nk-sidebar-element">
          <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
              <ul class="nk-menu">
                <li class="nk-menu-item">
                  <a href="/admin/indexhome" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-dashboard-fill"></em></span
                    ><span class="nk-menu-text">Dashboard</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="/admin/orders.html" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-bag-fill"></em></span
                    ><span class="nk-menu-text">Orders</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="products" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-package-fill"></em></span
                    ><span class="nk-menu-text">Products</span></a
                  >
                </li>
              </li>
              <li class="nk-menu-item">
                <a href="categories" class="nk-menu-link"
                  ><span class="nk-menu-icon"
                    ><em class="icon ni ni-package-fill"></em></span
                  ><span class="nk-menu-text">Categories</span></a
                >
              </li>
                <li class="nk-menu-item">
                  <a href="customers" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      >
                      <em class="icon ni ni-users-fill"></em></span
                    >
                    <span class="nk-menu-text">Customers</span></a
                  >
                </li>
              <li class="nk-menu-item">
                  <a href="coupon" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-opt-alt-fill"></em></span
                    ><span class="nk-menu-text">Coupons</span></a
                  >
                </li>
                <li class="nk-menu-item">
                  <a href="offer" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-opt-alt-fill"></em></span
                    ><span class="nk-menu-text">Offer</span></a
                  >
                </li> 
                <li class="nk-menu-heading">
                  <h6 class="overline-title text-primary-alt">Return to</h6>
                </li>
                <li class="nk-menu-item">
                  <a href="/admin/indexhome" class="nk-menu-link"
                    ><span class="nk-menu-icon"
                      ><em class="icon ni ni-dashlite-alt"></em></span
                    ><span class="nk-menu-text">Main Dashboard</span></a
                  >
                </li>
                 
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="nk-wrap">
        <div class="nk-header nk-header-fixed is-light">
          <div class="container-fluid">
            <div class="nk-header-wrap">
              <div class="nk-menu-trigger d-xl-none ms-n1">
                <a
                  href="#"
                  class="nk-nav-toggle nk-quick-nav-icon"
                  data-target="sidebarMenu"
                  ><em class="icon ni ni-menu"></em
                ></a>
              </div>
              <div class="nk-header-brand d-xl-none">
                <a href="/indexhome" class="logo-link"
                  ><img
                  class="logo-light logo-img"
                  src="/public/images (1).jpg"
                  srcset="/demo2/images/logo2x.png 2x"
                  alt="logo" /><img
                  class="logo-dark logo-img"
                  src="/public/images (1).jpg"
                  srcset="/demo2/images/logo-dark2x.png 2x"
                  alt="logo-dark"
              /> 
                  
            </a>
              </div>
              
              <div class="nk-header-tools">
              </div>
            </div>
          </div>
        </div>
        <div class="nk-content">
          <div class="container-fluid">
            <div class="nk-content-inner">
              <div class="nk-content-body">
                <div class="nk-block-head nk-block-head-sm">
                  <div class="nk-block-between">
                    <div class="nk-block-head-content">
                      <h3 class="nk-block-title page-title">Customers</h3>
                    </div>
                    <div class="nk-block-head-content">
                      <div class="toggle-wrap nk-block-tools-toggle">
                        <a
                          href="#"
                          class="btn btn-icon btn-trigger toggle-expand me-n1"
                          data-target="more-options"
                          ><em class="icon ni ni-more-v"></em
                        ></a>
                        <div
                          class="toggle-expand-content"
                          data-content="more-options"
                        >
                          <ul class="nk-block-tools g-3">
                            <li>
                              <div class="form-control-wrap">
                                <div class="form-icon form-icon-right">
                                  <!-- <em class="icon ni ni-search"></em> -->
                                </div>
                                 
                                <form action="/admin/search-user" method="get">
                                   <input type="text" name="search" placeholder="Search users">
                                   <input type="submit" value="Search">
                               </form>
                               
                              </div>
                            </li>
                            <li>
                               
                            </li>
                            <li class="nk-block-tools-opt">
                              <a
                                href="#"
                                class="btn btn-icon btn-primary d-md-none"
                                ><em class="icon ni ni-plus"></em></a
                              >
                             
                            
                            
                            </li>
                            
                     
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="nk-block">
                  <div class="nk-tb-list is-separate mb-3">
                    <div class="nk-tb-item nk-tb-head">
                      <div class="nk-tb-col nk-tb-col-check">
                         
                      </div>
                      <div class="nk-tb-col tb-col-sm"><span>Name</span></div>
                      <div class="nk-tb-col"><span>Email</span></div>
                      <div class="nk-tb-col"><span>Mobile</span></div>
                      <div class="nk-tb-col"><span>Country</span></div>
                      <div class="nk-tb-col nk-tb-col-tools">
                        <ul class="nk-tb-actions gx-1 my-n1">
                          <li class="me-n1">
                            <div class="dropdown">
                              <a
                                href="#"
                                class="dropdown-toggle btn btn-icon btn-trigger"
                                data-bs-toggle="dropdown"
                                ><em class="icon ni ni-more-h"></em
                              >
                            </a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <ul class="link-list-opt no-bdr">
                                  <li>
                                    <a href="#"
                                      ><em class="icon ni ni-edit"></em
                                      ><span>Edit Selected</span></a
                                    >
                                  </li>
                                  <li>
                                    <a href="#"
                                      ><em class="icon ni ni-trash"></em
                                      ><span>Remove Selected</span></a
                                    >
                                  </li>
                                  <li>
                                    <a href="#"
                                      ><em class="icon ni ni-bar-c"></em
                                      ><span>Update Stock</span></a
                                    >
                                  </li>
                                  <li>
                                    <a href="#"
                                      ><em class="icon ni ni-invest"></em
                                      ><span>Update Price</span></a
                                    >
                                  </li>
                                </ul>
                                
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      
                    </div>   
                    <% users.forEach(user => { %>
                      <div class="nk-tb-item">
                     
                        <div class="nk-tb-col tb-col-sm">
                          <span class="tb-product">
                         
                             
                          </span>
                        </div>
                        <div class="nk-tb-col tb-col-sm">
                          <span class="tb-product">
                         
                            <span class="title"><%= user.name %></span>
                          </span>
                        </div>
                       
                        <div class="nk-tb-col tb-col-md">
                          <span class="tb-sub"><%= user.email %></span>
                        </div>
                        <div class="nk-tb-col tb-col-md">
                          <span class="tb-sub"><%= user.mobile %></span>
                        </div>
                        <div class="nk-tb-col tb-col-md">
                          <span class="tb-sub"><%= user.country %></span>
                        </div>
                              <div class="nk-tb-col nk-tb-col-tools">
                                <ul class="nk-tb-actions gx-1 my-n1">
                                  <li class="me-n1">
                                    <div class="nk-tb-col tb-col-md">
                                      <form id="userForm_<%= user._id %>" action="/admin/customers/delete-user/<%= user._id %>" method="POST">
                                        <button type="button" class="btn <%= user.is_blocked ? 'btn-danger' : 'btn-success' %>"
                                                data-user-id="<%= user._id %>" data-is-blocked="<%= user.is_blocked %>"
                                                onclick="openConfirmationModal('<%= user._id %>')">
                                          <%= user.is_blocked ? 'Unblock' : 'Block' %>
                                        </button>
                                      </form>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          <% }) %>
                          

                          
                  
                          <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            Are you sure you want to <span id="actionText"></span> this user?
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary" id="confirmActionBtn">Confirm</button>
                          </div>
                        </div>
                      </div>
                    </div>

                      <script>
                      function openConfirmationModal(userId) {
                        const modal = document.getElementById('confirmationModal');
                        const actionText = modal.querySelector('#actionText');
                        const confirmActionBtn = modal.querySelector('#confirmActionBtn');
                     
                        const user = getUserById(userId); 
                        actionText.textContent = user.is_blocked ? 'unblock' : 'block';
                    
                        const bootstrapModal = new bootstrap.Modal(modal);
                        bootstrapModal.show();
                    
                         
                        confirmActionBtn.onclick = function () {
                        
                          const form = document.getElementById(`userForm_${userId}`);
                          form.submit();
                    
                          
                          bootstrapModal.hide();
                        };
                      }
                    
                    
                      function getUserById(userId) {
                     
                        return {
                          _id: userId,
                          is_blocked: true,  
                        };
                      }
                    </script>
                     

                     <script>
                      function blockUser(userId) {
                        fetch('/admin/users/block/' + userId, { method: 'POST' })
                          .then(response => response.json())
                          .then(data => {
                            if (data.message === 'User blocked successfully') { 
                            } else { 
                            }
                          })
                          .catch(error => console.error(error));
                      } 
                      function unblockUser(userId) {
                        fetch('/admin/users/unblock/' + userId, { method: 'POST' })
                          .then(response => response.json())
                          .then(data => {
                            if (data.message === 'User unblocked successfully') {   
                            } else {
                            }
                          })
                          .catch(error => console.error(error));
                      } 
                      </script> 
                <%- include('../admin/layouts/footer.ejs')%>  
 
       
