<% include('../layouts/header.ejs') %>


<h1>Dashboard</h1> 

 <-- search form --> 
 <form action="/admin/search-user" method="get">
    <input type="text" name="search" placeholder="Search users">
    <input type="submit" value="Search">
</form>

<a href="/admin/new-user">Add New User</a>
<br><br>

<table width="30%" height="20%">
    <tr>
        <th>name </th>
        <th>email</th>
        <th>mobile</th>
        <th>actions</th>
        
    </tr>

    <% 
    if(users.length>0){
        
     for(let i=0;i<users.length;i++){
        %>
        
        <tr>
            
            <td><%= users[i].name %></td>
            <td><%= users[i].email %></td>
            <td><%= users[i].mobile %></td>
            <td>
                <a href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a>
                <a href="/admin/delete-user?id=<%= users[i]._id %>">Delete</a>
            </td>
        </tr> 
        <%
     }
    }else{
    %>
    <tr>
        <td colspan="4">
            <% if (searchQuery) { %>
                No users found for: <%= searchQuery %>
            <% } else { %>
                Users not found
            <% } %>
           
        </td>

    </tr>
    <%
    }
    %>
</table>
<br>
<br>

<a href="/admin/home">Go to Home</a>


<% include('../layouts/footer.ejs') %>    