<%- include('../layouts/header.ejs') %>

<div class="container-fluid4">
  
    <header>
        <div class="header-1 pt-35">
          <div class="container">
            <div class="row align-items-center"> <!-- Added align-items-center for vertical alignment -->
              <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-7 order-md-2 order-lg-1">
                <div class="logo1 text-md-center text-lg-left">
                  <a href="/indexhome">
                    <div class="logo1" style="background-image: url('/images\ \(1\).jpg');"></div>
                  </a> 
                </div>
              </div>
              <div class="col-xl-7 col-lg-7 col-md-3 order-md-1 offset-sm-2 offset-md-0 order-lg-2 col-sm-auto">
                <nav>
                   
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header area ends --> 
<div class="box-editp">
<h1 class="head1-editp">EditProduct</h1>

<form action="/admin/products/editProduct/<%= product._id %>" class="form1-editp" method="POST">
    <input type="file" class="form-control2-editp" name="image" required >
    <input type="text" class="form-control1-editp" name="name"  placeholder="Enter name" value="<%= product.name %>" required>
    <br><br>
    <input type="text" class="form-control1-editp" name="description"  placeholder="Enter description" value="<%= product.description %>" required>
    <br><br>
    <input type="text" class="form-control1-editp" name="brand"  placeholder="Enter Brand" value="<%= product.brand %>" required>
    <br><br>
    <input type="text" class="form-control1-editp" name="price"  placeholder="Enter price" value="<%= product.price %>" required>
    <br><br>
    <input type="text" class="form-control1-editp" name="category"  placeholder="Enter Category" value="<%= product.category %>" required>
    <br><br>
     <input type="hidden" name="id" value="<%= product._id %>" >
    <input type="submit" class="form-control4-editp" value="Update product" >

</form>
    
     
  

<a href="/admin/products"class="form-control4-editp">Go To Products</a>
</div>
</div>
<%- include('../layouts/footer.ejs') %>