<%- include('../layouts/header.ejs') %>
<div class="container-fluid4">
    <div class="logo-image"><img src="/images (1).jpg" alt=""></div>
    <div class="box-editu">
<h1 class="head1-editu">EditUser</h1>

 
<form action="" class="form1-editu" method="POST">
    
    <input type="text" name="name" class="form-control1-editu" placeholder="Enter name" value="<%= user.name %>" required>
    <br><br>
    <input type="email" class="form-control1-editu" name="email" placeholder="Enter email" value="<%= user.email %>" required>
    <br><br>
    <input type="mobile" class="form-control1-editu" name="mobile" placeholder="Enter mobile" value="<%= user.mobile %>" required>
    <br><br>     
      
    <input type="text" class="form-control1-editu" name="name" placeholder="Enter Country" value="<%= user.country %>" required>
    <br><br>
     
     <input type="hidden" name="id" value="<%= user._id %>" >
    <input type="submit" class="form-control4-editu" value="Update User" >

</form>

<a href="/admin/" class="form-control4-editu">Go To Dashboard</a>
</div>
</div>
<%- include('../layouts/footer.ejs') %>