<%- include('../layouts/header.ejs') %>
<header>
  <div class="header-1 pt-35">
    <div class="container">
      <div class="row align-items-center"> <!-- Added align-items-center for vertical alignment -->
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-7 order-md-2 order-lg-1">
          <div class="logo2 text-md-center text-lg-left">
            <a href="/">
              <div class="logo2" style="background-image: url('/public/images\ \(1\).jpg');"></div>
            </a> 
          </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-3 order-md-1 offset-sm-2 offset-md-0 order-lg-2 col-sm-auto">
          <nav>
             
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header area ends --> 
<div class="container-fluid0">
   
<div class="box-login" style=" background-color: rgb(13, 13, 12);
height: 500px;
margin-top: 20px;
width: 500px;
margin-left: 500px;
border-color: chocolate;
border-style: groove;">
 
<h1 class="head2-login" style="font-size: 40px;
width: 170px;
padding-left: 140px;
font-weight: 700;
padding-top: 100px;
color: white;">AdimnLogin</h1>
 

<form
action="/admin/login"
method="post"
class="form1-login needs-validation"
novalidate
>
<div class="mb-3">
  <label
    for="validationCustomUsername"
    class="form-label"
    style="color: white"
    >Email</label
  >
  <input
    type="email"
    class="form-control1-login form-control <%- (typeof errorWith != 'undefined' && errorWith ==='ADMIN') ? 'is-invalid' : '' %>"
    id="validationCustomUsername"
    aria-describedby="inputGroupPrepend"
    required
    name="email"
    style="
      border-radius: 10px;
      width: 400px;
      height: 40px;
      border-style: hidden;
      color: white;
      background-color: rgb(50, 50, 50);
    "
  />
  <div class="invalid-feedback">  <%- (typeof errorWith != 'undefined') ? message : "Email is required" %></div>
</div>
<div class="mb-3">
  <label for="validationCustom03" class="form-label" style="color: white"
    >Password</label
  >
  <input
    type="password"
    class="form-control1-login form-control <%- (typeof errorWith != 'undefined' && errorWith ==='Password') ? 'is-invalid' : '' %>"
    id="validationCustom03"
    required
    name="password"
    style="
      border-radius: 10px;
      width: 400px;
      height: 40px;
      border-style: hidden;
      color: white;
      background-color: rgb(50, 50, 50);
    "
  />
  <div class="invalid-feedback">  <%- (typeof errorWith != 'undefined') ? message : "Password is required" %></div>
</div>
<h4 class="sub1-login">
  Forgot your password?<a href="/forget-password">Click here</a>
</h4>
 
<div class="mb-3">
  <input type="submit" class="form-control2-login" value="Login" /><br />
</div>
</form>
 
</div>
</div>

<script>
(function () {
"use strict"; 
var forms = document.querySelectorAll(".needs-validation"); 
Array.prototype.slice.call(forms).forEach(function (form) {
form.addEventListener(
  "submit",
  function (event) {
    if (!form.checkValidity()) {
      event.preventDefault();
      event.stopPropagation();
    }

    form.classList.add("was-validated");
  },
  false
);
});
})();
</script>
<%- include('../layouts/footer.ejs') %>
 