<%- include('../../layouts/header.ejs') %>

<div class="nk-footer">
  <div class="container-fluid">
    <div class="nk-footer-wrap">
      <div class="nk-footer-copyright">
        &copy; 2023 DashLite. Template by
        <a href="https://softnio.com/" target="_blank">Softnio</a>
      </div>
      <% if (section === 'products') { %>
      <!-- prettier-ignore -->
      <%- include('./pagination.ejs', { section: 'products'}) %>
      <% } else if (section === 'orders') { %>
        <%- include('./pagination.ejs', { section: 'orders'}) %>
      <% } else if (section === 'categories') { %>
        <%- include('./pagination.ejs', { section: 'categories'}) %>
      <% } else if (section === 'customers') { %>
        <%- include('./pagination.ejs', { section: 'customers'}) %>
        <% } else if (section === 'page') { %>
          <%- include('./pagination.ejs', { section: 'sales_report'}) %>
      <% } %>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="region">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <a href="#" class="close" data-bs-dismiss="modal"
        ><em class="icon ni ni-cross-sm"></em
      ></a>
    </div>
  </div>
</div>

<%- include('../../layouts/footer.ejs') %>
