<%- include('../../layouts/header.ejs') %>

<div
  class="container"
  style="
    display: flex;
    justify-content: end;
    align-items: end;
    min-height: 10vh;
  "
>
  <div
    class="card-inner"
    style="
      width: 100%;
      max-width: 500px;
      box-sizing: border-box;
      padding-left: 20px;
    "
  >
    <div
      class="pagination-wrapper"
      style="width: 100%; display: flex; justify-content: end"
    >
      <ul
        class="pagination justify-content-center justify-content-md-start"
        style="list-style: none; padding: 0; margin: 0"
      >
        <% if (currentPage > 1) { %>
        <a
          href="/admin/<%= section %>?page=<%= currentPage - 1 %>&limit=<%= limit %>&sort=<%= selectedSort %>"
          class="page-link"
          >&lt;</a
        >
        <% } %> <% for (let i = 1; i <= totalPages; i++) { %>
        <a
          href="/admin/<%= section %>?page=<%= i %>&limit=<%= limit %>&sort=<%= selectedSort %>"
          class="page-link <% if (currentPage === i) { %>active<% } %>"
          ><%= i %></a
        >
        <% } %> <% if (currentPage < totalPages) { %>
        <a
          href="/admin/<%= section %>?page=<%= currentPage + 1 %>&limit=<%= limit %>&sort=<%= selectedSort %>"
          class="page-link"
          >&gt;</a
        >
        <% } %>
      </ul>
    </div>
  </div>
</div>

<%- include('../../layouts/footer.ejs') %>
