<%-include('../layouts/header')%> <%- include('../users/layouts/navbar.ejs') %>

<!-- Page Title Area Start -->
<div class="page-title-area pt-150 pb-55">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page-titel-detalis">
          <div class="section-title">
            <h2>Checkout Page</h2>
          </div>
          <div class="page-bc">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li
                  class="breadcrumb-item position-relative active"
                  aria-current="page"
                >
                  <a href="checkout_page.html">Checkout</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Title area Ends -->

<!-- Checkout Area Start -->
<div class="checkout-area pt-115" style="background-color: white;height: auto;">
  <div class="container" style="height:auto;">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="checkout">
          <div class="coupon_discount">
           
            <h6>Coupon discount</h6>
            <p>Enter your code if you have one...</p>
         
              <form action="/checkout/applyCoupon" class="coupon-form pt-25"  method="post">
                <input type="text" name="code" placeholder="Enter your code here">
                <button class="p-btn border-0 ml-20">APPLY COUPON</button>
              </form>
           
          </div>

          <form action="/saveOrder" method="post" class="bill-form pt-5" id="orderForm">
            <% if(user && user.address && user.address.length > 0) { %>
              <% const defaultAddress = user.address[0]; %>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="first-name pt-30">
                  <label for="first-nem">First Name</label>
                  <input type="text" name="firstname" id="first-nem" value="<%= defaultAddress.firstname %>" />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="last-name pt-30">
                  <label for="last-nam">Last Name</label>
                  <input type="text" name="lastname" id="last-nam"  value="<%= defaultAddress.lastname %>" />
                </div>
              </div>
            </div>

            <div class="address pt-30">
              <label for="addres">Address</label>
              <input type="text" name="address" id="addres"  value="<%= defaultAddress.address %>"/>
            </div>
            <div class="city pt-30">
              <label for="cit">Country</label>
              <input type="text" name="country" id="country"  value="<%= defaultAddress.country %>" />
            </div>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="first-name pt-30">
                  <label for="first-nem">City/Town</label>
                  <input type="text" name="city" id="city"  value="<%= defaultAddress.city %>" />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="first-name pt-30">
                  <label for="first-nem">Pincode</label>
                  <input type="text" name="pincode" id="pincode"  value="<%= defaultAddress.pincode %>" />
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="first-name pt-30">
                  <label for="first-nem">Email</label>
                  <input type="text" name="email" id="email"  value="<%= defaultAddress.email %>" />
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <div class="first-name pt-30">
                  <label for="first-nem">Mobile</label>
                  <input type="text" name="mobile" id="mob"  value="<%= defaultAddress.mobile %>" />
                </div>
              </div>
            </div> 
        </div>
      </div>
     
      
          <div class="col-xl-6 col-lg-6 col-md-6" >
            <div class="product-order pl-50 pr-50 pt-35 pb-55 mt-50 mt-md-0">
              <h6 class="text-center pb-10">Your Order</h6>
    <table>
      <thead>
        <tr>
          <th scope="col">PRODUCT</th>
          <th scope="col" style="  padding-left: 150px">QUANTITY</th> 
          <th scope="col"style="  padding-left:   50px">PRICE</th>
        </tr>
      </thead>
      <table> 
        <tbody>
          <% let subtotal = 0; %>
          <% userCart.forEach(item => { %>
            <tr>
              <td><%= item.product.name %></td>
              <td><%= item.quantity %></td>
              <td>$<%= item.quantity * item.product.price %></td>
            </tr>
            <% subtotal += item.quantity * item.product.price; %>
          <% }); %>
        </tbody>
      </table>
     
      <% if (req.body.code&&coupon.status === "Active") { %> 
        <hr class="mt-5" />
        <p class="pt-15">
          Sub Total
          <span id="subTotal" class="float-right">
            $<%= subtotal.toFixed(2) %>
          </span>
        </p>
        <!-- Calculate discount and show -->
       
        <p class="pt-15">
          Discount
          <span id="discount" class="float-right">
            $<%= discountAmount%>
          </span>
        </p>
      <% } else { %>
        <!-- If there's no code provided -->
        <hr class="mt-5" />
        <p class="pt-15">
          Sub Total
          <span id="subTotal" class="float-right">
            $<%= subtotal.toFixed(2) %>
          </span>
        </p>
        <!-- No discount in this case -->
      <% } %>
    
      <!-- Shipping -->
      <hr />
      <% if (subtotal > 2000) { %>
        <p class="pt-15">Shipping <span class="float-right">$0</span></p>
      <% } else { %>
        <p class="pt-15">Shipping <span class="float-right">$100</span></p>
      <% } %>
    
      <!-- Total -->
      <hr />
      <% if (req.body.code&&coupon.status === "Active") { %> 
        <p class="price-total pt-15">
          Total
          <span id="total" class="float-right">
            $<%= (subtotal - discountAmount).toFixed(2) %>
          </span>
        </p>
      <% } else { %>
        <p class="price-total pt-15">
          Total 
          <span id="total" class="float-right">
            $<%= (subtotal + (subtotal > 2000 ? 0 : 100)).toFixed(2) %>
          </span>
        </p>
      <% } %>
               
              <div class="payment-method mt-55">
                <div class="direct-bank position-relative pl-25">
                  <input type="radio" id="rad" name="payment" />
                  <span class="check-mark"></span>
                  <label for="rad">Direct bank transfer</label>
                </div>
                <div class="Cheque position-relative pl-25 mt-20">
                  <input type="radio" id="Chequ" name="payment" />
                  <span class="check-mark"></span>
                  <label for="Chequ">Cheque Payment </label>
                </div>
                <div class="COD position-relative pl-25 mt-20">
                  <input type="radio" id="Cod" name="paymentMethod" value="Cash on delivery" />
                  <span class="check-mark"></span>
                  <label for="Cod">Cash on delivery </label>
                </div>
                 
                <button type="submit" class="p-btn border-0 mt-45"  id="placeOrderBtn">PLACE ORDER</button>
                <% } %>   
                
          </form>
          <div id="success_tic" class="modal fade" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content -->
              <div class="modal-content">
                <a class="close" href="#" data-dismiss="modal">&times;</a>
                <div class="page-body">
                  <div class="head">  
                    <h3 style="margin-top:5px;">Order Successful</h3>
                    <h5>Thank You for your order,Continue shopping</h5>
                  </div>
                  <h1 style="text-align:center;">
                    <div class="checkmark-circle">
                      <div class="background"></div>
                      <div class="checkmark draw"></div>
                    </div>
                  </h1>
                  <a href="/shop-list" style="position: relative;left: 70px;">Continue shopping</a>
                </div>
              </div>
            </div>
          </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <%- include('../users/layouts/footer.ejs') %>
     
    <!-- prettier-ignore
 <script>
  //  Address changing
const selectAddressForm = document.querySelector('#selectAddressForm'); 
if (user && user.address) {
  selectAddressForm.addEventListener('change', (event) => {
    const selectedIndex = event.target.value;
    const selectedAddress = user.address[selectedIndex]; 

    const firstNameField = document.getElementById('first-name');
    const lastNameField = document.getElementById('last-name');
    const addressField = document.getElementById('address');  
    const countryField = document.getElementById('country');
    const cityField = document.getElementById('city');
    const pincodeField = document.getElementById('pincode');
    const emailField = document.getElementById('email');
    const mobField = document.getElementById('mob');

    if (firstNameField && lastNameField && addressField && countryField && cityField && pincodeField && emailField && mobField) {
      firstNameField.value = selectedAddress.firstName;
      lastNameField.value = selectedAddress.lastName;
      addressField.value = selectedAddress.address;
      countryField.value = selectedAddress.country;
      cityField.value = selectedAddress.city;
      pincodeField.value = selectedAddress.pincode;
      emailField.value = selectedAddress.email;
      mobField.value = selectedAddress.phone;
    } else {
      console.error('One or more element IDs not found in the HTML.')
    }
  });
} else {
  console.error('user or user.address not defined.');
}
 </script> -->
 
    <%-include('../layouts/footer')%>
  </div>
</div>