<%- include('../users/layouts/navbar.ejs') %>

<div class="page-title-area pt-4 pb-2 pb-md-4">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page-titel-detalis">
          <div class="section-title">
            <h2>User Profile</h2>
          </div>
          <div class="page-bc">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li
                  class="breadcrumb-item position-relative active"
                  aria-current="page"
                >
                  <a href="/edituser">Profile</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shop-grid-s pt-4 pt-md-8">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="d-md-flex">
          <div class="col-xl-3 col-lg-4 col-md-12 mb-3 mb-md-0">
            <div class="sidebar">
              <!-- Include sidebar content -->
              <%- include('../users/layouts/sidebar.ejs') %>
            </div>
          </div>
          <div class="col-xl-9 col-lg-8 col-md-12">
            <div class="useraddress">
              <div class="mb-3">
                <div class="p-3">
                  <% if (offers && offers.length > 0) { %> <%
                  offers.forEach(offer => { %> <% if(offer.status ==="Active") {
                  %>
                  <a href="">
                    <div class="border p-3 bg-white mb-3">
                      <% if (offer.product) { %> <% if (offer.product.images &&
                      offer.product.images.length > 0) { %>
                      <img
                        class="img-fluid"
                        src="<%= offer.product.images[0] %>"
                        alt="<%= offer.product.name %>"
                        width="250"
                      />
                      <% } %> <% } else if (offer.category) { %> <% if
                      (offer.category.image ) { %>
                      <img
                        class="img-fluid"
                        src="<%= offer.category.image %>"
                        alt="<%= offer.category.name %>"
                        width="250"
                      />
                      <% } %> <% } %>
                      <p class="font-weight-bold text-dark">
                        <%= offer.name ? offer.name : ''%>
                      </p>
                      <a
                        href="<%= offer.product ? '/shop-details/' + offer.product._id : (offer.category ? '/shop-list/offers/' + offer.category.name : '#') %>"
                      >
                        <p class="font-weight-bold text-dark">
                          <%= offer.description ? offer.description : ''%>
                        </p>
                      </a>
                      <p class="font-weight-bold text-dark">
                        <%= offer.validity instanceof Date ?
                        offer.validity.toDateString() : ''%>
                      </p>
                    </div>
                  </a>
                  <% } %> <% }) %> <% } else { %>
                  <p>No offers found</p>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../users/layouts/footer.ejs') %>
