<%- include('../users/layouts/navbar.ejs') %>

<div class="page-title-area pt-150 pb-55">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page-titel-detalis">
          <div class="section-title">
            <h2>User Profile</h2>
          </div>
          <div class="page-bc">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li
                  class="breadcrumb-item position-relative active"
                  aria-current="page"
                >
                  <a href="/edituser">profile</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="shop-grid-s pt-120" style="background-color: white; height: auto">
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-12">
        <div class="sidebar">
          <!-- Include sidebar content -->
          <%- include('../users/layouts/sidebar.ejs') %>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-12">
        <div class="useraddress">
          <div class="row">
            <div class="col-12">
              <div>
                <!-- prettier-ignore -->
                <% if (orders && orders.length > 0) { %> 
                  <% orders.forEach(order=> { %>
                <div class="border mb-3 p-3">
                  <div class="d-flex justify-content-between">
                    <p
                      class="font-weight-bold"
                      style="font-weight: bold; color: black"
                    >
                      <%= order.date instanceof Date ? order.date.toDateString()
                      : ''%>
                    </p>
                    <a
                      href="/users/orderInfo/<%= encodeURIComponent(order._id) %>"
                      class="view-order-btn"
                      style="color: orangered; font-size: 16px"
                      >View Details</a
                    >
                    <h6>heyy</h6>
                  </div>
                  <% order.purchasedItems.forEach(purchasedItem => { %>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center">
                      <img
                        src="<%= purchasedItem.product.images[0]%>"
                        alt="<%= purchasedItem.product.name %> Image"
                        style="width: 50px"
                      />
                      <p
                        class="font-weight-bold mb-0 ml-2"
                        style="font-weight: bold; color: black"
                      >
                        <%= purchasedItem.product.name %>
                      </p>
                    </div>
                    <div>
                      <% if (purchasedItem.status === 'cancelled') { %>
                      <button
                        style="
                          font-weight: 500;
                          color: white;
                          font-size: 14px;
                          background-color: red;
                          border-style: none;
                          width: 90px;
                          height: 30px;
                        "
                      >
                        <%= purchasedItem.status %>
                      </button>
                      <% } else { %>
                      <button
                        style="
                          font-weight: 500;
                          color: rgb(250, 249, 249);
                          font-size: 14px;
                          background-color: blue;
                          border-style: none;
                          width: 100px;
                          height: 30px;
                        "
                      >
                        <%= purchasedItem.status %>
                      </button>
                      <% } %> <% if (purchasedItem.productDiscountAmount) { %>
                      <p
                        class="mb-0 ml-2"
                        style="font-weight: 600; font-size: 13px; color: black"
                      >
                        ₹ <%= Math.round(purchasedItem.quantity *
                        (purchasedItem.price -
                        purchasedItem.productDiscountAmount)) %>
                      </p>
                      <% } else { %>
                      <p
                        class="mb-0 ml-2"
                        style="font-weight: 600; font-size: 13px; color: black"
                      >
                        ₹ <%= Math.round(purchasedItem.quantity *
                        (purchasedItem.price)) %>
                      </p>
                      <% } %>
                    </div>
                  </div>
                  <% }) %>
                </div>
                <!-- prettier-ignore -->
                <% }) %> 
                <% } else { %>
                <p>No orders found</p>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../users/layouts/footer.ejs') %>
