<%- include('../users/layouts/navbar.ejs') %>

<div class="page-title-area pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-titel-detalis">
          <div class="section-title">
            <h2>User Profile</h2>
          </div>
          <div class="page-bc">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">
                  <a href="/edituser">Profile</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shop-grid-s pt-3 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="sidebar">
          <!-- Include sidebar content -->
          <%- include('../users/layouts/sidebar.ejs') %>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="useraddress">
          <div class="container-fluid">
            <% if (orders && orders.length > 0) { %> <% orders.forEach(order =>
            { %>
            <div class="row mb-4">
              <div class="col-md-12">
                <h4>View order details</h4>
                <div class="card p-3">
                  <p>Order Date: <%= order.date %></p>
                  <p>Order ID: <%= order.orderNumber %></p>
                  <p>Total Price: ₹<%= Math.round( order.totalAmount) %></p>
                  <a
                    href="http://localhost:4000/download-invoice/<%= order.orderNumber %>"
                    style="
                      font-weight: 500;
                      color: white;
                      font-size: 20px;
                      background-color: #854fff;
                      border-style: none;
                      height: 40px;
                      padding-left: 30px;
                      padding-top: 7px;
                    "
                    >Download Invoice</a
                  >
                </div>
              </div>
              <div class="col-md-12 mt-4">
                <h4>Shipping Address</h4>
                <div class="card p-3">
                  <p><%= order.address.firstname %></p>
                  <p>
                    <%= order.address.lastname %>, <%= order.address.address %>,
                    <%= order.address.country %> <%= order.address.city %> <%=
                    order.address.pincode %>,
                  </p>
                  <p><%= order.address.email %>, <%= order.address.mobile %></p>
                </div>
              </div>
              <div class="col-md-12 mt-4">
                <h4>Payment Details</h4>
                <div class="card p-3">
                  <p><%= order.payment.type %></p>
                </div>
              </div>
              <div class="col-md-12 mt-4">
                <h4>Ordered Items</h4>
                <% order.purchasedItems.forEach(item => { %>
                <div class="card p-3 mb-3">
                  <div class="row">
                    <div class="col-md-3">
                      <img
                        src="<%= item.product.images[0] %>"
                        class="img-fluid"
                        alt="<%= item.product.name %> Image"
                      />
                    </div>
                    <div class="col-md-9">
                      <p><%= item.product.name %></p>
                      <p><%= Math.round(item.price - item.discountAmount) %></p>
                      <p>Qty: <%= item.quantity %></p>
                      <% const currentDate = new Date(); %> <% const orderDate =
                      new Date(order.date); %> <% const timeDifference =
                      currentDate.getTime() - orderDate.getTime(); %> <% const
                      daysDifference = timeDifference / (1000 * 3600 * 24); %>
                      <% if (item.status === 'Processing') { %> <% if
                      (daysDifference <= 7) { %>
                      <form
                        id="cancelOrderForm"
                        action="/users/orderInfo/cancel-order/<%= order._id %>/<%= item._id %>"
                        method="POST"
                      >
                        <button
                          type="button"
                          id="cancelButton"
                          class="btn btn-danger"
                        >
                          Cancel Item
                        </button>
                      </form>
                      <% } else { %>
                      <button type="button" class="btn btn-secondary" disabled>
                        Cannot Cancel (Order older than 7 days)
                      </button>
                      <% } %> <% } else if (item.status === 'Delivered') { %>
                      <button type="button" class="btn btn-success" disabled>
                        Item Delivered
                      </button>
                      <% if (daysDifference <= 7) { %>
                      <form
                        id="returnOrderForm"
                        action="/users/orderInfo/return-order/<%= order._id %>/<%= item._id %>"
                        method="POST"
                      >
                        <button
                          type="button"
                          id="returnButton"
                          class="btn btn-danger"
                        >
                          Return
                        </button>
                      </form>
                      <% } %> <% }else if (item.status === 'Returned') { %>
                      <button type="button" class="btn btn-danger" disabled>
                        Item Returned
                      </button>
                      <% } %>
                    </div>
                  </div>
                </div>
                <% }) %>
              </div>
            </div>
            <% }) %> <% } else { %>
            <p>No orders found</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../users/layouts/footer.ejs') %>

<script>
  document
    .getElementById("cancelButton")
    .addEventListener("click", function () {
      // Show SweetAlert confirmation dialog
      Swal.fire({
        title: "Are you sure?",
        text: "You will not be able to recover this order!",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Yes, cancel it!",
        cancelButtonText: "No, keep it",
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById("cancelOrderForm").submit();
        } else {
          Swal.fire("Cancel", "Your order is safe :)", "info");
        }
      });
    });
</script>
<script>
  document
    .getElementById("returnButton")
    .addEventListener("click", function () {
      Swal.fire({
        title: "Select Your Reason",
        input: "select",
        inputOptions: {
          notgood: "Did not meet expectations",
          different: " Incorrect order",
          mind: "Changed mind or impulse purchase",
          damage: " Damaged or defective item",
          deley: "Delivery delays",
          info: " Misleading product information",
        },
        inputPlaceholder: "Select a reason for returning the order",
        showCancelButton: true,
        inputValidator: (value) => {
          return new Promise((resolve) => {
            if (value) {
              Swal.fire({
                title: "Are you sure?",
                text: "You will not be able to recover this order!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, return it!",
                cancelButtonText: "No, keep it",
              }).then((result) => {
                if (result.isConfirmed) {
                  document.getElementById("returnOrderForm").submit();
                } else {
                  Swal.fire("Return", "Your order is safe :)", "info");
                }
              });
            } else {
              resolve("You need to select a reason :)");
            }
          });
        },
      });
    });
</script>

<script>
  document.querySelectorAll(".cancel-item-btn").forEach((button) => {
    button.addEventListener("click", async (event) => {
      const _id = event.target.dataset._id;
      console.log(_id);
      try {
        const response = await fetch("http://localhost:4000/cancel-order", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          withCredentials: true,
          body: JSON.stringify({ _id: _id }),
        });
        if (response.ok) {
          event.target.parentElement.parentElement.cancel();
        } else {
          const errorData = await response.json();
          console.error("Error:", errorData.message);
        }
      } catch (error) {
        console.error("Error:", error);
      }
    });
  });
</script>
