<%- include('../users/layouts/navbar.ejs') %>

<div class="page-title-area pt-5 pb-3 pb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page-titel-detalis">
          <div class="section-title">
            <h2>User Profile</h2>
          </div>
          <div class="page-bc">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li
                  class="breadcrumb-item position-relative active"
                  aria-current="page"
                >
                  <a href="/edituser">profile</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="shop-grid-s pt-5 pt-md-10">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="d-md-flex">
          <div class="col-xl-3 col-lg-4 col-md-12 mb-3 mb-md-0">
            <div class="sidebar">
              <!-- Include sidebar content -->
              <%- include('../users/layouts/sidebar.ejs') %>
            </div>
          </div>
          <div class="col-xl-9 col-lg-8 col-md-12">
            <div class="useraddress">
              <div class="mb-3">
                <div class="p-3">
                  <div class="border p-3 bg-white mb-3">
                    <div
                      class="d-md-flex justify-content-between align-items-center"
                    >
                      <div class="text-center text-md-left mb-3 mb-md-0">
                        <p class="font-weight-bold text-dark">
                          Referral: <%= users.referralCode ? users.referralCode
                          : '' %>
                        </p>
                      </div>
                      <div class="text-center text-md-left mb-3 mb-md-0">
                        <p class="font-weight-bold text-dark">
                          Referrals: <%= totalReferralWallets.length > 0 ?
                          totalReferralWallets[0].total : 0 %>
                        </p>
                      </div>
                      <div class="text-center text-md-right">
                        <p class="font-weight-bold text-dark">
                          Total Amount : ₹<%= totalReferralWallets.length > 0 ?
                          totalReferralWallets[0].totalAmount : 0 %>
                        </p>
                      </div>
                    </div>
                    <div class="text-center text-md-right">
                      <button
                        style="
                          background-color: orangered;
                          color: white;
                          border-style: none;
                        "
                        onclick="copyReferralCode()"
                      >
                        Copy Referral Code
                      </button>
                    </div>
                  </div>
                  <div style="position: relative; top: 50px">
                    <h4 class="text-center text-md-left">
                      It's easy to earn credits in few simple steps
                    </h4>
                    <div
                      class="d-md-flex justify-content-between"
                      style="position: relative; top: 50px"
                    >
                      <div class="text-center mb-3 mb-md-0">
                        <h5 style="color: orangered">REFER A FRIEND</h5>
                        <p>
                          Share your referral code with every friend you know to
                          purchase products.
                        </p>
                      </div>
                      <div class="text-center mb-3 mb-md-0">
                        <h5 style="color: orangered">MAKE SIGN UP</h5>
                        <p>
                          When your friend signs up through your referral code,
                          you will earn 100 rupees.
                        </p>
                      </div>
                      <div class="text-center">
                        <h5 style="color: orangered">20% OFFER</h5>
                        <p>
                          When your friend signs up through your referral code,
                          they will earn a 20% offer for their first purchase.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../users/layouts/footer.ejs') %>

<script>
  function copyReferralCode() {
    const referralCode = "<%= users.referralCode ? users.referralCode :'' %>";
    const tempInput = document.createElement("input");
    tempInput.value = referralCode;
    document.body.appendChild(tempInput);
    tempInput.select();
    tempInput.setSelectionRange(0, 99999);
    document.execCommand("copy");
    document.body.removeChild(tempInput);
    alert("Referral code copied to clipboard!");
  }
  function getReferralLink() {
    const baseLink = "http://localhost:4000";
    const referralCode = "<%= users.referralCode ? users.referralCode : '' %>";
    return `${baseLink}?referralCode=${referralCode}`;
  }
</script>
