  <%- include('../layouts/header.ejs') %>

  
    <header>
      <div class="header-1 pt-35">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-7 order-md-2 order-lg-1">
              <div class="logo2 text-md-center text-lg-left">
                <a href="/">
                  <div class="logo2" style="background-image: url('/public/images\ \(1\).jpg');"></div>
                </a> 
              </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-3 order-md-1 offset-sm-2 offset-md-0 order-lg-2 col-sm-auto">
              <nav>
                
            </div>
          </div>
        </div>
      </div>
      
    </header>
    <!-- header area ends --> 
  
    <div class="container-fluid1">
      <div class="box-register" style="height: 1050px;position: relative;  ">
        <h1 class="head1-register" style="position: relative; bottom: 20px;">Sign-Up</h1>
        <h4 class="sub1-register" style="
        margin-left: 80px;
        width: 400px; 
        position: relative; bottom: 20px;
        color: white;">Please fill in this form to create a new account</h4>
        <form action="/register" class="form-register needs-validation" method="POST" novalidate>
          <div class="mb-3">
            <label for="name" class="form-label" style="color: white;">Name</label>
            <input type="text" class="form-control1-register form-control" id="name" name="name" style="border-radius: 10px;
            width: 400px;
            height: 40px;
            background-color: rgb(50, 50, 50);
            border-style: hidden;
            border-color: white;
            border-style: hidden;" required>
            <div class="invalid-feedback">
              Name is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label" style="color: white;" >Email</label>
            <input type="email" class="form-control1-register form-control  <%- (typeof errorWith != 'undefined' && errorWith ==='EMAIL') ? 'is-invalid' : '' %>" id="email" name="email" style="border-radius: 10px;
            width: 400px;
            height: 40px;
            background-color: rgb(50, 50, 50);
            border-style: hidden;
            border-color: white;
            border-style: hidden;"
            required
            >
            <div class="invalid-feedback">
              <%- (typeof errorWith != 'undefined') ? message : " Email is required." %>
            </div>
          </div>
          <div class="mb-3">
            <label for="mobile" class="form-label" style="color: white;">Mobile</label>
            <input type="tel" class="form-control1-register form-control <%- (typeof errorWith != 'undefined' && errorWith ==='MOBILE') ? 'is-invalid' : '' %>"" id="mobile" name="mobile" pattern="[0-9]{10}" style="border-radius: 10px;
            width: 400px;
            height: 40px;
            background-color: rgb(50, 50, 50);
            border-style: hidden;
            border-color: white;
            border-style: hidden;" required>
            <div class="invalid-feedback">
              <%- (typeof errorWith != 'undefined') ? message : "Please enter a valid 10-digit mobile number." %>
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" style="color: white;">Password</label>
            <input type="password" class="form-control1-register form-control" id="password" name="password" style="border-radius: 10px;
            width: 400px;
            height: 40px;
            background-color: rgb(50, 50, 50);
            border-style: hidden;
            border-color: white;
            border-style: hidden;" required>
            <div class="invalid-feedback">
              Password should be at least 6 characters long.
            </div>
          </div>
          <div class="mb-3">
            <label for="confirm_password" class="form-label" style="color: white;">Confirm Password</label>
            <input type="password" class="form-control1-register form-control <%- (typeof errorWith != 'undefined' && errorWith ==='PASSWORD') ? 'is-invalid' : '' %>" id="confirm_password" name="confirm_password" style="border-radius: 10px;
            width: 400px;
            height: 40px;
            background-color: rgb(50, 50, 50);
            border-style: hidden;
            border-color: white;
            border-style: hidden;" required>
            <div class="invalid-feedback">
              <%- (typeof errorWith != 'undefined') ? message : "Confirm Password is required" %>
            </div>
          </div>
          <div class="mb-3">
            <label for="country" class="form-label" style="color: white;">Country</label>
            <input type="text" class="form-control1-register form-control" id="country" name="country" style="border-radius: 10px;
            width: 400px;
            height: 40px;
            background-color: rgb(50, 50, 50);
            border-style: hidden;
            border-color: white;
            border-style: hidden;" required>
            <div class="invalid-feedback">
              Country is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label" style="color: white;">ReferralCode</label>
            <input type="text" class="form-control1-register form-control" id="userReferral" name="userReferral" style="border-radius: 10px;
            width: 400px;
            height: 40px;
            background-color: rgb(50, 50, 50);
            border-style: hidden;
            border-color: white;
            border-style: hidden;">
           
          </div>
          <div class="mb-3">
            <h4 class="sub2-register" style="color: white; font-size: large;">Already a user? <a href="/login">Login</a></h4>
           
          </div>
          <div class="col-12">
            <button class="form-control1-register  <%- (typeof errorWith != 'undefined' && errorWith ==='USER') ? 'is-invalid' : '' %>" type="submit" style="width: 400px;
              position: relative;
              right: 15px;
              margin-top: 15px;
              border-radius: 10px;
              color: white;
              height: 40px;
              font-weight: 500;
              background-color: orangered;
              border-style: hidden;">Submit form</button>
          </div>
        </form>
      </div>
    </div>
    
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        "use strict";
var forms = document.querySelectorAll(".needs-validation")
Array.prototype.slice.call(forms).forEach(function (form) {
  form.addEventListener(
    "submit",
    function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }

      form.classList.add("was-validated");
    },
    false
  );
}); 
      });
    </script>
  <%- include('../layouts/footer.ejs') %>

   