<%- include('../layouts/header.ejs') %>



    <!-- scroll top button -->
    <div id="scrollToTop" class="scrollTop" > 
      <i class="las la-arrow-up"></i>
    </div>
  <!-- header area starts -->
  <header>
    <div class="header-1 pt-35">
      <div class="container">
        <div class="row align-items-center"> 
          <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-7 order-md-2 order-lg-1">
            <div class="logo text-md-center text-lg-left">
              <a href="/">
                <div class="logo1" style="background-image: url('/public/images\ \(1\).jpg');"></div>
              </a> 
            </div>
          </div>

          <div class="col-xl-7 col-lg-7 col-md-3 order-md-1 offset-sm-2 offset-md-0 order-lg-2 col-sm-auto">
            <nav>
              <div id="mobile-menu" class="main-menu">
                <ul>
                  <li>
                    <a href="/"  >Home</a>
                    
                  </li>
                  <li>
                    <a href="/shop-list" >Sale</a>
                   
                  </li>
                  <li><a href="#">Pages</a>
                    <ul class="sub-menu pb-10 pt-10 pl-15 pr-15">
                      <li>About US</li>
                      <li>My Wishlist</li>
                      <li>Shopping Cart</li>
                      <li>Checkout</li>
                      <li>News Details</li>
                    </ul>
                  </li>
                  <li><a href="">Contact</a></li>
                  <% if(!isUserLoggedIn===true){%>
                  <li ><a href="/login">Login</a></li>
                  
                  <% }; %>
                 
                </ul>
              </div>
            </nav>
          </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-5 order-md-3 order-lg-3 d-flex justify-content-end"> <!-- Changed order and added flex classes -->
          <div class="nav-icons">
            <form action="/search-product" method="get">
            <input
              type="text"
              class="form-control border-transparent form-focus-none custom-search"
              placeholder="Search anything"
            />
            </form>
          </div>
          <% if(isUserLoggedIn===true){%>
          <div class="userinfo">
            <a href="">
             <em class="icon ni ni-users-fill"></em></span
             >
            </a>
           </div>
          <div class="wishlist-div" >
            <a href="my_wishlist.html">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
              <span class="badge badge-danger small-badge">1</span>
            </a>
          </div>
         
          <div class="add-to-cart">
            <a href="/shop-cart">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
          </div>
          <div class="logout-div">
            <a href="/logout">
              <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
            
            </a>
          </div>
          <% }; %>
         
        
        </div>
      </div>
      </div>
    </div>
  </header>
  <!-- header area ends -->
  <!-- Page Title Area Start -->
  <div class="page-title-area pt-150 pb-55">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="page-titel-detalis  ">
            <div class="section-title">
              <h2>Shop Details</h2>
            </div>
            <div class="page-bc">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item position-relative active" aria-current="page"><a
                      href="shop_grid_right_sidebar.html">Shop List</a></li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Title area Ends -->
  <div class="shop-details pt-120">
    <div class="container">
      <div class="row">
        
  <!-- new arrival area starts -->
  
  <div class="shop-details pt-120">
    <div class="container">
      <div class="row">
        <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 ">
          <div class="nav nav-tabs " id="approach-tabs" role="tablist">
            <% if(product.images[0]) { %>
              <a class="product-thumb mb-15 active" data-index="0" data-toggle="tab" href="#nav-product0" role="tab"
                aria-controls="nav-product0" aria-selected="true">
                <img src="<%= product.images[0] %>" alt="img">
              </a>
              <% }; %>
            <% if(product.images[1]) { %>
              <a class="product-thumb mb-15 active" data-index="1" data-toggle="tab" href="#nav-product1" role="tab"
                aria-controls="nav-product1" aria-selected="true">
                <img src="<%= product.images[1] %>" alt="img">
              </a>
              <% }; %>
              <% if(product.images[2]) { %>
                <a class="product-thumb mb-15" data-index="2" data-toggle="tab" href="#nav-product2" role="tab"
                  aria-controls="nav-product2" aria-selected="false">
                  <img src="<%= product.images[2] %>" alt="img">
                </a>
                <% }; %>
                <% if(product.images[3]) { %>
                  <a class="product-thumb" data-index="3" data-toggle="tab" href="#nav-product3" role="tab"
                    aria-controls="nav-product3" aria-selected="false">
                    <img src="<%= product.images[3] %>" alt="img">
                  </a>
                  <% }; %>
            </div>
        </div>
        <div class="col-xl-11 col-lg-10 col-md-10 col-sm-12 ">
          <div class="product-wrapper d-flex">
            <div class="product-imges  tab-content"  id="nav-tabContents">
              <% for (let i = 0; i < product.images.length; i++) { %>
                <div class="tab-pane product-img <%= i === 0 ? 'active' : '' %>" id="nav-product<%= i  %>" role="tabpanel"
                  aria-labelledby="nav-thumb<%= i + 1 %>">
                  <img src="<%= product.images[i] %>" alt="img">
                </div>
                <% } %>
                <div class="zoom-overlay" id="zoom-overlay"></div>
              </div>
         
        
        <div class="col-md-8 ">
          <div class="product-details">
            <h5><%= product.name %></h5>
            <ul class="rating d-inline-block mr-20">
              <li><i class="las la-star"></i></li>
              <li><i class="las la-star"></i></li>
              <li><i class="las la-star"></i></li>
              <li><i class="las la-star"></i></li>
              <li><i class="las la-star"></i></li>
            </ul>
            <span>03 Customer Review</span>
            
            <div class="price pt-15 pb-10">
              <span>   ₹<%= product.price.toFixed(2) %></span>
            </div>
            
            <% if (hasOffer) { %> 
              
              <div class="price pt-15 pb-10"> 
                <span class="final-price">  ₹<%= (product.price - discountAmount).toFixed(2) %></span>
              </div>
            <% } else { %>
              <div class="price pt-15 pb-10"> 
                <span class="final-price">  ₹<%= product.price.toFixed(2) %></span>
              </div>
            <% } %>
            
            <p class="pr-110">
              <%= product.richDescription %>
            </p>
  
            <div class="product-color pt-10 d-flex">
              <div class="color-code pl-20">
                <span></span>
                <span></span>
              </div>
            </div>
  
            <div class="product-size d-flex pt-10">
              <h6>SELECT SIZE</h6>
              <ul class="ml-50">
                <li class="active">Xl</li>
                <li>L</li>
                <li>M</li>
                <li>S</li>
                <li>XS</li>
              </ul>
            </div>
  
            <div class="product-count d-flex mt-25">
              <div class="quty mr-20">
                <input class="qty" type="number" value="1">
              </div>
              <div class="add-tocart mr-20 mt-15 mt-sm-0">
                <a class="p-btn add-btn float-left position-relative add-to-cart-btn" href="/add-to-cart/<%= encodeURIComponent(product._id) %>" data-product-id="<%= product._id %>">
                    <span>Add to cart</span>
                </a>
                
            </div>
            
            <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Product added to cart successfully.</p>
                        </div>
                    </div>
                </div>
            </div>
              <ul class="share d-flex align-items-center mt-15 mt-sm-0">
                <li><a href="my_wishlist.html"><i class="las la-heart"></i></a></li>
                <li><a href=""><i class="las la-random"></i></a></li>
              </ul>
            </div>
  
            <ul class="social-icon pt-80">
              <li><a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a></li>
              <li><a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a></li>
              <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a></li>
              <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <hr class="pt-75">
    </div>
  </div>
  
  <div class="description-area pt-65">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="description-tab ">
                    <nav>
                      <div class="nav nav-tabs justify-content-center" id="approach-tab" role="tablist">
                        <a class="nav-item active mr-75" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-description" aria-selected="true">Description</a>
                        <a class="nav-item mr-75" id="nav-comment-tab" data-toggle="tab" href="#nav-comment" role="tab" aria-controls="nav-comment" aria-selected="false">Addtional info</a>
                        <a class="nav-item" id="nav-review-tab" data-toggle="tab" href="#nav-review" role="tab" aria-controls="nav-review" aria-selected="false">Reviews (2)</a>
                      </div>
                    </nav>
                    <div class="tab-content mt-55 ml-100" id="nav-tabContent">
                      <div class="tab-pane active " id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                        <div class="row">
                          <div class="col-xl-8 col-lg-8 col-md-8">
                            <div class="description-text position-relative">
                              <%= product.richDescription %>
                            </div>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-4 pl-md-0 pr-md-0">
                            <div class="description-size pt-5">
                              <h6>SIZE & FIT</h6>
                              <ul>
                                <li>Our Model wears a UK 8/ EU 36/ Us 4</li>
                                <li>Model is 170/ 5’7” Tall</li>
                                <li>Shoulder seam to hem measures appox 58”/ 147 cm in lengh</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="nav-comment" role="tabpanel" aria-labelledby="nav-comment-tab">
                        <div class="row">
                          <div class="col-xl-8 col-lg-8 col-md-8">
                            <div class="description-text position-relative">
                              <p class="mb-25">Sed id interdum urna. Nam ac elit a ante commodo tristique. condimentum vehicula a hendrerit ac nisi. hendrerit ac nisi Lorem ipsum dolor sit amet Vestib lum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna</p>
                              <p>Nullam lacinia faucibus risus, a euismod lorem tincidunt id. Donec maximus plac erat tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse faucibus sed dolor eget posuere.Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condim entum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet.</p>
                            </div>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-4 pl-md-0 pr-md-0">
                            <div class="description-size pt-5">
                              <h6>SIZE & FIT</h6>
                              <ul>
                                <li>Our Model wears a UK 8/ EU 36/ Us 4</li>
                                <li>Model is 170/ 5’7” Tall</li>
                                <li>Shoulder seam to hem measures appox 58”/ 147 cm in lengh</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="nav-review" role="tabpanel" aria-labelledby="nav-review-tab">
                        <div class="row">
                          <div class="col-xl-8 col-lg-8 col-md-8 position-relative">
                            <div class="description-text position-relative">
                              <p class="mb-25">Sed id interdum urna. Nam ac elit a ante commodo tristique. condimentum vehicula a hendrerit ac nisi. hendrerit ac nisi Lorem ipsum dolor sit amet Vestib lum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna</p>
                              <p>Nullam lacinia faucibus risus, a euismod lorem tincidunt id. Donec maximus plac erat tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse faucibus sed dolor eget posuere.Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condim entum a vehicula a, hendrerit ac nisi Lorem ipsum dolor sit amet.</p>
                            </div>
                          </div>
                          <div class="col-xl-4 col-lg-4 col-md-4 pl-md-0 pr-md-0">
                            <div class="description-size pt-5">
                              <h6>SIZE & FIT</h6>
                              <ul>
                                <li>Our Model wears a UK 8/ EU 36/ Us 4</li>
                                <li>Model is 170/ 5’7” Tall</li>
                                <li>Shoulder seam to hem measures appox 58”/ 147 cm in lengh</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- new arrival area ends -->


  <!-- Footer Area Starts -->
  <footer class="footer-area mt-115">
    <div class="container">
      <div class="footer-menu pt-120">
        <div class="row">
          <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget mb-30 mb-lg-0 pt-15">
              <div class="logo pb-30">
                <a href="index.html"><img src="img/logo/logo.png" alt="img"></a>
              </div>
              <div class="footer-info">
                <ul>
                  <li>Email: <span class="ml-5">aruk@gmail.com</span></li>
                  <li>Phone:  <span class="ml-5">+948 256 347 968</span></li>
                </ul>
                <p class="pr-65">Subscribe to our newsleter and stay 
                  up to date with latest offers and 
                  upcoming trends.</p>
                <div class="footer-input position-relative mt-30">
                  <input type="email" placeholder="Email">
                  <button><i class="fas fa-arrow-right"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget mb-30 mb-lg-0">
              <h4>About Us</h4>
              <ul class="footer-info pt-10">
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Our Outlets</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Sales and Retails</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Areas we serve</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Career at aruk</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="contact_page.html">Contact Us</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
            <div class="footer-widget">
              <h4>Help and Support</h4>
              <ul class="footer-info pt-10">
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Track my order</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Our top products</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="shopping_cart.html">My cart</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Sign in</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="checkout_page.html">Shipping Calculator</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6  pl-xl-0">
            <div class="footer-widget">
              <h4>Pages & Resources</h4>
              <ul class="footer-info pt-10">
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">About Us</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="shop_grid.html">Shop Page</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="shop_grid.html">Category page</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Sign in page</a></li>
                <li><a class="slider-btn position-relative d-inline-block" href="404.html">404 page</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom mt-80">
      <div class="container">
        <div class="row">
          <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 order-md-2 order-lg-1">
            <div class="copyright mt-15">
              <p>Copyright © 2020 | Designed by <a href="https://themeforest.net/user/wpsmasher"
                  target="_blank">Wpsmasher</a></p>
            </div>

          </div>
          <div class="col-xl-5 col-lg-3 col-md-12 order-md-1 order-lg-2">
            <ul class="social-icon text-center mt-15">
              <li><a href=""><i class="lab la-facebook-f"></i></a></li>
              <li><a href=""><i class="lab la-twitter"></i></a></li>
              <li><a href=""><i class="lab la-instagram"></i></a></li>
              <li><a href=""><i class="lab la-vimeo"></i></a></li>
            </ul>
          </div>
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 order-md-2 order-lg-3">
            <div class="policy  text-right mt-15">
              <a class="position-relative" href="#">Terms of Use </a>
              <a class="ml-40" href="#">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Footer Area Ends -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const images = document.querySelectorAll('.product-imges img'); // Select the product images
  
      // Initialize medium-zoom on each product image
      images.forEach((image) => {
        mediumZoom(image, {
          margin: 2, // Adjust the margin as needed for the zoomed image
        });
      });
    });
  </script>
  
 <script>
  $(document).ready(function () {
    $('.product-thumb').on('click', function (e) {
      e.preventDefault();
      var imgSrc = $(this).find('img').attr('src');
      $('.product-img.active img').attr('src', imgSrc);
      $('.product-thumb').removeClass('active');
      $(this).addClass('active');
    });
  });
</script>
  <%- include('../layouts/footer.ejs') %>

  
 