<%- include('../layouts/header.ejs') %>

 
 <!-- scroll top button -->
 <div id="scrollToTop" class="scrollTop" >
  <i class="las la-arrow-up"></i>
</div>
<!-- =============Preloader Starts=============-->
<!-- <div class="loader">
<div class="face face-1">
  <div class="circle"></div>
</div>
<div class="face face-2">
  <div class="circle"></div>
</div>
</div> -->
<!-- =============Preloader Ends=============-->


<header>
  <div class="header-1 pt-35">
    <div class="container">
      <div class="row align-items-center"> <!-- Added align-items-center for vertical alignment -->
        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6 col-7 order-md-2 order-lg-1">
          <div class="logo text-md-center text-lg-left">
            <a href="/">
              <div class="logo1" style="background-image: url('/public/images\ \(1\).jpg');"></div>
            </a> 
          </div>
        </div>

        <div class="col-xl-7 col-lg-7 col-md-3 order-md-1 offset-sm-2 offset-md-0 order-lg-2 col-sm-auto">
          <nav>
            <div id="mobile-menu" class="main-menu">
              <ul>
                <li>
                  <a href="/"  >Home</a>
                  
                </li>
                <li>
                  <a href="/shoplist" >Sale</a>
                 
                </li>
                <!-- <li><a href="shoplist">Collection</a></li> -->
                <li><a href="#">Pages</a>
                  <ul class="sub-menu pb-10 pt-10 pl-15 pr-15">
                    <li>About US</li>
                    <li>My Wishlist</li>
                    <li>Shopping Cart</li>
                    <li>Checkout</li>
                    <li>News Details</li>
                  </ul>
                </li>
                <li><a href="">Contact</a></li>
                <% if(!isUserLoggedIn===true){%>
                <li ><a href="/login">Login</a></li>
                <li ><a href="/register">Register</a></li>
                <% }; %>
               
              </ul>
            </div>
          </nav>
        </div>
        <!-- <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-5 order-md-3 order-lg-3 d-flex justify-content-end">
          <div class="nav-icons">
         <% if(isUserLoggedIn===true){%>
          <div class="nav-icons">
            <form action="/search-product" method="get">
            <input
              type="text"
              class="form-control border-transparent form-focus-none custom-search"
              placeholder="Search anything"
            />
            </form>
          </div>
          <div class="userinfo">
            <a href="">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"> <path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
          &nbsp;
            </a>
          </div>
          <div class="wishlist-div" >
            <a href="my_wishlist.html">
          <div style="position: relative; display: inline-block;">
            <span class="badge badge-pink" style="position: absolute; top: -3px; left: 5px; padding-right: 10px;">1</span>
            <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"> <path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
        </div>
            </a>
          </div>
        &nbsp; &nbsp;
        <div class="add-to-cart">
          
         <button><a href="/shopcart">
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18" viewBox="0 0 576 512"> <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
          &nbsp;

        </a></button>
        </div>
          <button><a href="/logout">
             <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" viewBox="0 0 512 512"> <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
            </a></button>
            <% }; %>
        
        </div>
        
      </div> -->
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-5 order-md-3 order-lg-3 d-flex justify-content-end"> <!-- Changed order and added flex classes -->
        <div class="nav-icons">
          <form action="/search-product" method="get">
          <input
            type="text"
            class="form-control border-transparent form-focus-none custom-search"
            placeholder="Search anything"
          />
          </form>
        </div>
        <!-- Wishlist Div -->
        <% if(isUserLoggedIn===true){%>
        <div class="userinfo">
          <a href="">
           <em class="icon ni ni-users-fill"></em></span
           >
          </a>
         </div>
        <div class="wishlist-div" >
          <a href="my_wishlist.html">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M47.6 300.4L228.3 469.1c7.5 7 17.4 10.9 27.7 10.9s20.2-3.9 27.7-10.9L464.4 300.4c30.4-28.3 47.6-68 47.6-109.5v-5.8c0-69.9-50.5-129.5-119.4-141C347 36.5 300.6 51.4 268 84L256 96 244 84c-32.6-32.6-79-47.5-124.6-39.9C50.5 55.6 0 115.2 0 185.1v5.8c0 41.5 17.2 81.2 47.6 109.5z"/></svg>
            <span class="badge badge-danger small-badge">1</span>
          </a>
            <!-- Add other wishlist-related content here -->
        </div>
       
        <div class="add-to-cart">
          <a href="/shopcart">
            <!-- Add to Cart content -->
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"/></svg>
        </div>
        <div class="logout-div">
          <a href="/logout">
            <!-- Logout content -->
            <svg xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.--><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/></svg>
          
          </a>
        </div>
        <% }; %>
       
      
      </div>
    </div>
    </div>
  </div>
</header> 
<!-- header area ends -->
<!-- Page Title Area Start -->
<div class="page-title-area pt-150 pb-55">
<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <div class="page-titel-detalis  ">
        <div class="section-title">
          <h2>Shop Sidebar</h2>
        </div>
        <div class="page-bc">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <!-- <li class="breadcrumb-item position-relative active" aria-current="page"><a
                  href="shoplist"></a></li> -->
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Page Title area Ends -->

<!-- new arrival area starts -->
<div class="shop-grid-s pt-120">
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-12  ">
      <div class="sidebar-widget ">
        <div class="categorie ">
          <h4>All Categories</h4>
          <ul class="categories-list pt-10 pl-20 pb-65">
            <li><a href="/shoplist">All Items</a></li>
            <li><a href="/men">Mens </a></li>
            <li><a href="/women">Women </a></li>
            <li><a href="/unisex">Unisex</a></li>
            <li><a href="/shoplist">Others</a></li>
          </ul>
          <!-- <div class="more-categories pl-20 pt-10 pb-15">
            <a href="shop_grid.html">+ More Categories</a>
          </div> -->
        </div>
      </div>
      <div class="sidebar-widget pb-25 mt-50">
        <div class="categorie ">
          <h4>Filter Products</h4>
          <div class="input-range pb-30 position-relative pl-20 pt-15 mr-20">
            <!-- <span></span> -->
            <div class="price-range-block position-relative pt-30">

              <div id="slider-range" class="price-filter-range"></div>

              <div class="price-value mt-20 d-flex">
                <input type="text" oninput="validity.valid||(value='1000');" id="min_price"
                  class="price-range-field" />
                <input type="text" oninput="validity.valid||(value='8000');" id="max_price"
                  class="price-range-field text-right" />

              </div>

            </div>
          </div>
        </div>
        <div class="size pt-20 pl-20">
          <span>Size</span>
          <ul class="size-item mt-15 position-relative">
            <li><a href="#">Chose Size <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="sub-size-option position-absolute">
                <li><a href="#">28</a></li>
                <li><a href="#">32</a></li>
                <li><a href="#">34</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="color-cat pl-20 pt-15">
          <span>Color</span>
          <ul class="color-option position-relative mt-15">
            <li><a href="#">Chose Color <i class="fa fa-angle-down" aria-hidden="true"></i></a>
              <ul class="sub-color text-left pl-20 position-absolute">
                <li><a href="#"><span></span> Black</a></li>
                <li><a href="#"><span></span> Red</a></li>
                <li><a href="#"><span></span> white</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="filter-button pl-20 pt-20 ">
          <button>Filter</button>
        </div>
      </div>
      <div class="product-on-sale pt-55">
        <div class="container pl-0 pr-0">
          <div class="row">
            <div class="col-xl-12">
              <div class="section-title pb-5">
                <h3>
                  On-Sale Product
                </h3>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="on-sale-product-active mt-40">
          <div class="single-product">
            <div class="product-wrapper d-flex">
              <div class="product-img position-relative ">
                <img src="img/products/22.png" alt="product">
                <div class="cart-icon">
                  <a href=""><i class="las la-cart-plus"></i></a>
                </div>
              </div>
              <div class="product-details mt-10">
                <span>Shoes</span>
                <h6><a href="shop_detalis.html">Leather Menz Shoes</a></h6>
                <div class="price d-flex">
                  <span>$999</span>
                  <del>$899</del>
                </div>
              </div>
            </div>
            <div class="product-wrapper mt-25 d-flex">
              <div class="product-img position-relative">
                <img src="img/products/23.png" alt="product">
                <div class="cart-icon">
                  <a href=""><i class="las la-cart-plus"></i></a>
                </div>
              </div>
              <div class="product-details mt-10">
                <span>Shoes</span>
                <h6><a href="shop_detalis.html">Leather Menz Shoes</a></h6>
                <div class="price d-flex">
                  <span>$999</span>
                  <del>$899</del>
                </div>
              </div>
            </div>
          </div>
          <div class="single-product">    
            <div class="product-wrapper d-flex">
              <div class="product-img position-relative ">
                <img src="img/products/22.png" alt="product">
                <div class="cart-icon">
                  <a href="shopping_cart.html"><i class="las la-cart-plus"></i></a>
                </div>
              </div>
              <div class="product-details mt-10">
                <span>Shoes</span>
                <h6><a href="shop_detalis.html">Leather Menz Shoes</a></h6>
                <div class="price d-flex">
                  <span>$999</span>
                  <del>$899</del>
                </div>
              </div>
            </div>
            <div class="product-wrapper mt-25 d-flex">
              <div class="product-img position-relative">
                <img src="img/products/23.png" alt="product">
                <div class="cart-icon">
                  <a href="shopping_cart.html"><i class="las la-cart-plus"></i></a>
                </div>
              </div>
              <div class="product-details mt-10">
                <span>Shoes</span>
                <h6><a href="shop_detalis.html">Leather Menz Shoes</a></h6>
                <div class="price d-flex">
                  <span>$999</span>
                  <del>$899</del>
                </div>
              </div>
            </div>
          </div>
          <div class="single-product">
            <div class="product-wrapper d-flex">
              <div class="product-img position-relative ">
                <img src="img/products/22.png" alt="product">
                <div class="cart-icon">
                  <a href=""><i class="las la-cart-plus"></i></a>
                </div>
              </div>
              <div class="product-details mt-10">
                <span>Shoes</span>
                <h6><a href="shop_detalis.html">Leather Menz Shoes</a></h6>
                <div class="price d-flex">
                  <span>$999</span>
                  <del>$899</del>
                </div>
              </div>
            </div>
            <div class="product-wrapper mt-25 d-flex">
              <div class="product-img position-relative">
                <img src="img/products/23.png" alt="product">
                <div class="cart-icon">
                  <a href=""><i class="las la-cart-plus"></i></a>
                </div>
              </div>
              <div class="product-details mt-10">
                <span>Shoes</span>
                <h6><a href="shop_detalis.html">Leather Menz Shoes</a></h6>
                <div class="price d-flex">
                  <span>$999</span>
                  <del>$899</del>
                </div>
              </div>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 col-md-12">
      <div class="new-arrival shop-grid pt-80 pt-lg-0">
        <div class="container pl-0 pr-0">
          <div class="arrival-product new-arrival-2">
            <div class="row">
              <% products.forEach(product => { %>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 grid-item">
                  <div class="arrival-items mb-55">
                    <div class="arrival-img">
                      <img src="<%= product.images[0] %>" alt="<%= product.name %>">
                    </div>
                    <div class="arrival-details">
                      <h5><a href="/shopdetails/<%= encodeURIComponent(product._id) %>"><%= product.name %></a></h5>
                      <!-- Other product details... -->
                      <div class="price">
                        <span>$<%= product.price %></span>
                      </div>
                    </div>
                  </div>
                </div>
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="product-popupList">
<div class="product-popup shop-details position-relative ">
  <div class="close-popup">
    <button>X</button>
  </div>
  <div class="product-img">
    <img src="img/products/01.png" alt="img">
  </div>
  <div class="product-details ml-30 mt-20">
    <h5>Yellow Bag Women 2018</h5>
    <ul class="rating d-inline-block mr-20">
      <li><i class="las la-star"></i></li>
      <li><i class="las la-star"></i></li>
      <li><i class="las la-star"></i></li>
      <li><i class="las la-star"></i></li>
      <li><i class="las la-star"></i></li>
    </ul>
    <span>03 Customer Review</span>
    <div class="price pt-15 pb-10">
      <span>$42.00</span>
    </div>
    <p class="pr-110">Sed id interdum urna. Nam ac elit a ante commodo tristique. tum vehicula a
      hendrerit ac
      nisi. hendrerit
      ac nisi Lorem ipsum dolor sit perdiet nibh vel magna lacinia ultrices. Sed id interdum urna.
    </p>
    <div class="product-color pt-10 d-flex">
      <h6>SELECT COLOR</h6>
      <div class="color-code pl-20">
        <span></span>
        <span></span>
      </div>
    </div>
    <div class="product-size d-flex pt-10">
      <h6>SELECT SIZE</h6>
      <ul class="ml-50">
        <li class="active">Xl </li>
        <li>L</li>
        <li>M</li>
        <li>S</li>
        <li>XS</li>
      </ul>
    </div>
    <div class="product-count d-flex mt-25 mb-30">
            <div class="quty mr-20">
              <input class="qty" type="number" value="1">
            </div>
      <div class="add-tocart mr-20 mt-15 mt-sm-0">
        <a class="p-btn position-relative" href="">
          <span>Add to cart</span>
        </a>
      </div>
      <ul class="share d-flex align-items-center mt-15 mt-sm-0">
        <li><a href="my_wishlist.html"><i class="las la-heart"></i></a></li>
        <li><a href=""><i class="las la-random"></i></a></li>
      </ul>
    </div>
  </div>

</div>
</div>

<!-- new arrival area ends -->


<!-- Footer Area Starts -->
<footer class="footer-area mt-115">
<div class="container">
  <div class="footer-menu pt-120">
    <div class="row">
      <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
        <div class="footer-widget mb-30 mb-lg-0 pt-15">
          <div class="logo pb-30">
            <a href="index.html"><img src="img/logo/logo.png" alt="img"></a>
          </div>
          <div class="footer-info">
            <ul>
              <li>Email: <span class="ml-5">aruk@gmail.com</span></li>
              <li>Phone: <span class="ml-5">+948 256 347 968</span></li>
            </ul>
            <p class="pr-65">Subscribe to our newsleter and stay
              up to date with latest offers and
              upcoming trends.</p>
            <div class="footer-input position-relative mt-30">
              <input type="email" placeholder="Email">
              <button><i class="fas fa-arrow-right"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="footer-widget mb-30 mb-lg-0">
          <h4>About Us</h4>
          <ul class="footer-info pt-10">
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Our Outlets</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Sales and Retails</a>
            </li>
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Areas we serve</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Career at aruk</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="contact_page.html">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
        <div class="footer-widget">
          <h4>Help and Support</h4>
          <ul class="footer-info pt-10">
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Track my order</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Our top products</a>
            </li>
            <li><a class="slider-btn position-relative d-inline-block" href="shopping_cart.html">My cart</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Sign in</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="checkout_page.html">Shipping
                Calculator</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6  pl-xl-0">
        <div class="footer-widget">
          <h4>Pages & Resources</h4>
          <ul class="footer-info pt-10">
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">About Us</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="shop_grid.html">Shop Page</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="shop_grid.html">Category page</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="about_us.html">Sign in page</a></li>
            <li><a class="slider-btn position-relative d-inline-block" href="404.html">404 page</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom mt-80">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12 order-md-2 order-lg-1">
        <div class="copyright mt-15">
          <p>Copyright © 2020 | Designed by <a href="https://themeforest.net/user/wpsmasher"
              target="_blank">Wpsmasher</a></p>
        </div>

      </div>
      <div class="col-xl-5 col-lg-3 col-md-12 order-md-1 order-lg-2">
        <ul class="social-icon text-center mt-15">
          <li><a href=""><i class="lab la-facebook-f"></i></a></li>
          <li><a href=""><i class="lab la-twitter"></i></a></li>
          <li><a href=""><i class="lab la-instagram"></i></a></li>
          <li><a href=""><i class="lab la-vimeo"></i></a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 order-md-2 order-lg-3">
        <div class="policy  text-right mt-15">
          <a class="position-relative" href="#">Terms of Use </a>
          <a class="ml-40" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>
</footer>

<!-- Footer Area Ends -->






<%- include('../layouts/footer.ejs') %>