<%- include('../users/layouts/navbar.ejs') %>

<div class="page-title-area pt-5 pb-3 pb-md-5">
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="page-titel-detalis">
          <div class="section-title">
            <h2>User Profile</h2>
          </div>
          <div class="page-bc">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li
                  class="breadcrumb-item position-relative active"
                  aria-current="page"
                >
                  <a href="/edituser">Profile</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="shop-grid-s pt-3 pb-5 pb-md-3"
  style="background-color: white; height: auto"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-3 col-lg-4 col-md-12">
        <div class="sidebar">
          <!-- Include sidebar content -->
          <%- include('../users/layouts/sidebar.ejs') %>
        </div>
      </div>
      <div class="col-xl-9 col-lg-8 col-md-12">
        <div class="useraddress">
          <div class="px-3 mb-3">
            <div>
              <h5 style="color: rgb(29, 28, 28); font-weight: 600">
                Total Balance: <%= Math.round(totalAmount) %>
              </h5>
            </div>
            <% let allWallets = wallets.concat(walletsToPush.flat()) %> <%
            allWallets.sort((a, b) => new Date(b.date) - new Date(a.date)) %> <%
            if (allWallets && allWallets.length > 0) { %> <%
            allWallets.forEach(wallet => { %>
            <div
              class="border border-secondary mb-3 px-3 py-2"
              style="
                border: 1px solid #ccc;
                background-color: white;
                margin-bottom: 10px;
                padding: 10px;
                font-size: larger;
                font-weight: 500;
                color: black;
                overflow: hidden;
              "
            >
              <div class="d-flex justify-content-between">
                <div>
                  <% if (wallet.method) { %>
                  <h5>Credited</h5>
                  <p
                    class="font-weight-bold;"
                    style="color: rgb(29, 28, 28); font-weight: 600"
                  >
                    Amount through: <%= wallet.method %>
                  </p>
                  <% } else { %>
                  <h5>Debited</h5>
                  <p
                    class="font-weight-bold;"
                    style="color: rgb(29, 28, 28); font-weight: 600"
                  >
                    OrderId: <%= wallet.orderNumber %>
                  </p>
                  <% } %>
                </div>
                <div>
                  <p style="color: rgb(29, 28, 28); font-weight: 600">
                    Amount: <%= Math.round(wallet.amount ? wallet.amount :
                    wallet.totalAmount ? wallet.totalAmount : 0) %>
                  </p>
                </div>
              </div>
              <div class="text-left">
                <p style="color: rgb(29, 28, 28); font-weight: 600">
                  Date: <%= wallet.date instanceof Date ?
                  wallet.date.toDateString() : '' %>
                </p>
              </div>
            </div>
            <% }) %> <% } else { %>
            <p>No wallets found</p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include('../users/layouts/footer.ejs') %>
</div>
